<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd"
>

    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="${mail.sender.host}"/>
        <property name="port" value="${mail.sender.port:25}"/>
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.connectiontimeout">300000</prop>
                <prop key="mail.smtp.timeout">60000</prop>
                <prop key="mail.smtp.writetimeout">60000</prop>
            </props>
        </property>
    </bean>

</beans>