<header>
    <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

        <div class="navbar-header" >
            <a ng-href="/" class="navbar-brand">ACUITY Admin</a>
        </div>

        <div ng-controller="mainController" class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown">

                    <a class="pull-right" >
                        <span class="glyphicon glyphicon-user"></span>
                        <span >{{MODEL.userInfo}}</span>
                    </a>


                </li>
            </ul>
        </div>

    </div>
    </div>
</header>
